<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${edit} ? 'Edit car' : 'New car'"></title>
</head>
<body>

<form th:action="@{'/drivers/save'}" method="post" th:object="${driver}">
    <input type="hidden" th:field="*{id}">
    Name: <input type="text" th:field="*{name}">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    Age: <input type="text" th:field="*{age}">
    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
    Salary: <input type="text" th:field="*{salary}">
    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
    <button type="submit">Save</button>
</form>

</body>
</html>