<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>

<a th:href="@{'/drivers/edit/' + ${driver.id}}">
    <span>EDIT</span><br>
</a>
<a th:href="@{'/drivers/delete/' + ${driver.id}}">
    <span>DELETE</span>
</a>

<table>
    <tr>
        <td>Name :</td>
        <td th:text="${driver.name}"></td>
    </tr>
    <tr>
        <td>Age :</td>
        <td th:text="${driver.age}"></td>
    </tr>
    <tr>
        <td>Salary :</td>
        <td th:text="${driver.salary}"></td>
    </tr>
</table>

</body>
</html>