<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>List of all jidelniceks</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <div class="user-menu">
        <button id="userButton">
            <span th:text="${#authentication.name}">Uživatel</span>
        </button>
        <div id="logoutMenu" class="dropdown hidden">
            <a th:href="@{'/logout'}">Odhlášení</a>
        </div>
    </div>
</header>

<span th:each="jidelnicek: ${jidelniceks}">
        <a th:href="@{'/jidelniceks/detail/' + ${jidelnicek.id}}">
            <span th:text="${jidelnicek.nazev}"></span>
        </a>
    </span>
<a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:href="@{'/jidelniceks/create'}">
    <span>VYTVOŘIT</span>
</a>
<a th:href="@{'/'}">
    <span> ZPĚT</span>
</a>

<script>
    const userButton = document.getElementById('userButton');
    const logoutMenu = document.getElementById('logoutMenu');
    userButton.addEventListener('click', () => {
        logoutMenu.classList.toggle('hidden');
    });
</script>
</body>
</html>