<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<table>
    <tr>
        <td>Název :</td>
        <td th:text="${plan.nazev}"></td>
    </tr>
    <tr>
        <td>Popis :</td>
        <td th:text="${plan.popis}"></td>
    </tr>
    <tr>
        <td>Zaměření :</td>
        <td th:text="${plan.zamereni}"></td>
    </tr>
    <tr>
        <td>Doba trvání :</td>
        <td th:text="${plan.dobaTrvani}"></td>
    </tr>
    <tr th:if="${#lists.isEmpty(plan.cviks)}">
        <td >Žádné cviky nejsou k dispozici:</td>
    </tr>
    <tr th:if="${!#lists.isEmpty(plan.cviks)}">
        <td>Seznam cviků :</td>
        <td>
            <a th:href="@{'/cviks/detail/{id}'(id=${plan.cviks[0].id})}" th:text="${plan.cviks[0].nazev}" class="cviky"></a>
        </td>
    </tr>
    <tr th:each="cvik, iterStat : ${plan.cviks}" th:if="${!#lists.isEmpty(plan.cviks) and iterStat.index > 0}">
        <td></td>
        <td>
            <a th:href="@{'/cviks/detail/{id}'(id=${cvik.id})}" th:text="${cvik.nazev}" class="cviky"></a>
        </td>
    </tr>
    <tr th:if="${!#lists.isEmpty(plan.jidelniceks)}">
        <td>Seznam jídelníčků :</td>
        <td>
            <a th:href="@{'/jidelniceks/detail/{id}'(id=${plan.jidelniceks[0].id})}" th:text="${plan.jidelniceks[0].nazev}" class="cviky"></a>
        </td>
    </tr>
    <tr th:each="jidelnicek, iterStat : ${plan.jidelniceks}" th:if="${!#lists.isEmpty(plan.jidelniceks) and iterStat.index > 0}">
        <td></td>
        <td>
            <a th:href="@{'/jidelniceks/detail/{id}'(id=${jidelnicek.id})}" th:text="${jidelnicek.nazev}" class="cviky"></a>
        </td>
    </tr>
    <tr>
        <td><a th:href="@{'/plans/edit/' + ${plan.id}}">Upravit</a></td>
        <td><a th:href="@{'/plans/delete/' + ${plan.id}}">Smazat</a></td>
    </tr>
    <tr>
        <td><a th:href="@{'/plans/'}">Zpět na seznam plánů</a></td>
    </tr>
</table>


</body>
</html>